.GoodsListForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    width: 80%;
}

.GoodsListFormInput {
    display: flex;
    margin: 5px;
    width: 30%;
}

.GoodsListFormButton {
    display: flex;
    margin: 5px;
    width: 20%;
    text-align: center;
    justify-content: center;
}