.Container {
  text-align: center;
}
.Title {
  background-color: aquamarine;
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}
.Total {
  border-bottom: 0.5px solid black;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
